@use 'colors' as c;

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Manrope', sans-serif;
	font-size: 1.6rem;
	background-color: c.$black;
	background: linear-gradient(
		to bottom,
		c.$black 0%,
		#141414 40%,
		c.$secondary 100%
	);
}

section {
	scroll-margin-top: 100px;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	padding: 2rem 2rem;
}

.section {
	background: radial-gradient(circle at top, #222 0%, #111 60%, #0b0b0b 100%);
}

.section-title {
	text-align: center;
	text-transform: uppercase;
	color: c.$text-light;
	padding-bottom: 0.5rem;
}

.underline {
	position: relative;
	z-index: 300;
	height: 2px;
	width: 80px;
	background: linear-gradient(90deg, transparent, c.$gold, transparent);
	margin: 0 auto 1rem;
}

.eyebrow {
	display: flex;
	font-size: 1.2rem;
	font-weight: 600;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: c.$text-dark;
	margin-bottom: 3rem;
}

.cta-btn {
	margin-top: 1rem;
	display: inline-block;
	padding: 1rem 2.4rem;
	border-radius: 50px;
	background: linear-gradient(135deg, c.$gold, #ff9d00);
	color: c.$black;
	font-weight: 600;
	font-size: 2rem;
	text-decoration: none;
	box-shadow: 0 6px 20px rgba(255, 180, 0, 0.4);
	transition: transform 0.25s, box-shadow 0.25s;

	&:hover {
		transform: scale(1.05);
		box-shadow: 0 10px 25px rgba(255, 180, 0, 0.5);
	}
}