@use './colors' as c;

@use './components/nav';
@use './components/hero';
@use './components/about';
@use './components/services';
@use './components/projects';
@use './components/reviews';
@use './components/achievements';
@use './components/faq';
@use './components/contact';
@use './components/footer';


@media (max-width: 400px) {
	.nav {
		&__link {
			font-size: 15px;
		}
	}
}


@media (max-width: 768px) {
	.services__layout-top,
	.services__layout-bottom {
		flex-direction: column;
		gap: 3rem;
	}

	.services__image,
	.services__content {
		flex: 1 1 100%;
	}

	.achievements {
		&__grid {
			@media (max-width: 768px) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}

	.projects {
		.swiper-slide {
			display: block;
			width: 100% !important;
		}
		&__card {
			margin: 0 15px;

			@media (max-width: 640px) {
				margin: 0;
				border-radius: 0;
			}
		}
	}
}

@media (min-width: 768px) {
	.nav {
		&__logo {
			height: 90px;
			width: 150px;
		}

		&__menu-mobile {
			gap: 15px;
		}
	}

	.hero {
		align-items: flex-end;

		&__content {
			position: absolute;
			right: 0%;
			bottom: 0%;
			width: min(720px);
			margin: 0;
			background: none;

			align-items: flex-end;
			text-align: right;
		}

		&__eyebrow {
			max-width: 250px;
		}

		&__text {
			max-width: 500px;
		}
	}
}

@media (min-width: 820px) {
	.nav {
		&__link {
			font-size: 3rem;
		}
	}
}

@media (min-width: 992px) {
	.hero {
		&__content {
			padding: 20px;
		}
	}

	.nav {
		&__burger {
			display: none;
		}

		&__burger-box,
		&__burger-box div {
			display: none;
		}
		&__inner {
			max-width: 1300px;
		}

		&__menu {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			gap: 15px;
		}

		&__link {
			font-size: 2rem;
		}
	}
}

@media (min-width: 1024px) {
	.nav {
		&__menu-mobile {
			display: none;
		}
	}
}

@media (min-width: 1200px) {
	.nav {
		padding: 50px 0;
		&__logo {
			height: 70px;
			width: 170px;
		}
	}

	.hero {
		background-image: url(../img/hero/hero-large.jpg);
		background-position: 30% 60%;

		&__content {
			position: absolute;
			max-width: 720px;
			bottom: 6%;
			right: 5%;
			margin: 0;
		}
		&__eyebrow {
			font-size: 4rem;
			max-width: 1000px;
		}

		&__heading {
			font-size: 6rem;
		}

		&__text {
			font-size: 1.8rem;
		}

		&__actions {
			font-size: 3rem;
		}
	}
}

@media (max-width: 1024px) {
	.hero {
		align-items: center;

		&__content {
			margin-right: 5%;
		}
	}
}

@media (min-width: 1024px) {
	.about {
		&__box {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			text-align: left;
		}

		&__content {
			align-items: flex-start;
		}

		&__image {
			transform: translateX(-20px);
			opacity: 0;
			transition: opacity 0.6s ease-out, transform 0.6s ease-out;

			&.active {
				opacity: 1;
				transform: translateX(0);
			}
		}
	}

	.projects {
		.cta-btn {
			width: 25%;
		}
	}
}

@media (min-width: 1550px) {
	.nav {
		&__inner {
			max-width: 1700px;
		}
	}
}




@media (max-width: 768px) {
	.hero {
		align-items: flex-end;

		&__content {
			margin: 0 auto;
			padding: 2.5rem 1.5rem;
			text-align: center;
		}

		&__actions {
			justify-content: center;
			flex-wrap: wrap;
		}
	}
}