@use 'reset';
@use 'globals';
@use 'media';

@use './components/nav';
@use './components/hero';
@use './components/about';
@use './components/services';
@use './components/projects';
@use './components/reviews';
@use './components/achievements';
@use './components/faq';
@use './components/contact';
@use './components/footer';


