@use '../colors' as c;

.footer {
	&__glass-footer {
		text-align: center;
		padding: 2.5rem;
		color: #f5f5f5;
		background: rgba(255, 255, 255, 0.03);
		backdrop-filter: blur(10px);
		box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
	}

	&__glass-footer a {
		color: c.$gold;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}