@use '../colors' as c;


.services {
	background: radial-gradient(circle at top, #222 0%, #111 60%, #0b0b0b 100%);
	padding: 5rem 2rem;
	color: c.$text-light;

	&__content-bottom {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__image,
	&__content {
		flex: 1 1 50%;
	}

	&__layout-top,
	&__layout-bottom {
		display: flex;
		align-items: center;
		gap: 6rem;
		padding: 0;
	}
	&__layout-bottom {
		flex-direction: row-reverse;
		padding-top: 0;
	}
	&__image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 24px;
		filter: contrast(1.1) saturate(0.9);
		transition: transform .3s;

		&:hover {
			transform: translateY(-6px);
			box-shadow: 0 12px 40px rgba(0, 0, 0, 0.5);
		}
	}

	.intro {
		font-size: 1.7rem;
		line-height: 1.6;
		color: c.$text-dark;
		max-width: 520px;
		margin-bottom: 1rem;
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0 0 5rem;
	}

	&__item {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 2rem;
		padding: 2.5rem 0;
		border-bottom: 1px solid rgba(212, 175, 55, 0.15);

		&:last-child {
			border-bottom: none;
		}
	}

	.index {
		font-size: 3.2rem;
		font-weight: 600;
		color: c.$gold;
	}

	.cta-btn {
		margin-top: auto;
		align-self: flex-center;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
}